* {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

body {
  margin: auto;
  width: 600px;
  border: 3px solid #4CAF50;
  padding: 10px;
  margin-top: 20px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #4CAF50;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: #4CAF50;
  color: #fff;
}

input:invalid {
  border: red solid 3px;
}

select {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: .5px;
}

ul li {
  list-style: square inside url("http://pablovillanueva.com/comparachela/images/favicon.ico");
  padding: 5px;
  margin-left: -20px;
}

.curved-div {
  background: #ecda70;
}